/* https://color.adobe.com/cloud/aHR0cHM6Ly9jYy1hcGktYXNzZXRzLmFkb2JlLmlv/library/56b97d61-b491-42b1-8596-44bfb7118a34/theme/679c473e-1518-4fcd-8da9-b33f0f354653/edit/ */

/* Utilities */
.pd-tp-md{
    padding-top: 20px;
}

.pd-tp-lg{
    padding-top: 50px;    
}


body{
    background-color: black;
    padding: 0;
    margin: 0;
    color: rgb(166, 140, 161);

}


#header{
    min-height: 500px;

}

#main-banner{
    margin: auto;
    width: 100%;
}

.home-content{
    text-align: center;
    padding-top:50px;
    padding-bottom: 50px;
}


.audio-title{
    color: white;
    text-transform: uppercase;
}

.tab-pane{
    min-height: 500px;
}

.player-container{
    margin-top: 80px;
    border: solid 1px orange;
    padding: 5px;
    transition: all .5s;

}

.player-container:hover{
    -webkit-box-shadow: -21px -10px 40px -3px rgba(65,207,33,1);
-moz-box-shadow: -21px -10px 40px -3px rgba(65,207,33,1);
box-shadow: -21px -10px 40px -3px rgba(65,207,33,1);

}

.audio-player{
    width: 100%;
}

.audio-title{
    text-align: center;
}


